<?xml version="1.0" encoding="UTF-8"?>
<!--
    Author: Ismael
    Version: 1.0
-->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>
        <property name="hibernate.connection.url">jdbc:h2:./data/quizmael</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"> </property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- Logging -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Entities -->
        <mapping class="com.quizmael.model.Answer"/>
        <mapping class="com.quizmael.model.Game"/>
        <mapping class="com.quizmael.model.GameQuestion"/>
        <mapping class="com.quizmael.model.Moderation"/>
        <mapping class="com.quizmael.model.Question"/>
        <mapping class="com.quizmael.model.Test"/>
        <mapping class="com.quizmael.model.TestTopic"/>
        <mapping class="com.quizmael.model.Topic"/>
        <mapping class="com.quizmael.model.User"/>
        <mapping class="com.quizmael.model.UserFavoriteTest"/>
        <mapping class="com.quizmael.model.UserRecentTest"/>

    </session-factory>
</hibernate-configuration>